doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='module' src='/javascripts/site.js')
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/xslt") Test XSLT
        block content